modules = ["nodejs-20", "python-3.11"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend-python && python -m uvicorn main:app --host 0.0.0.0 --port 8001"]

[workflows]
runButton = "Dev Backend"

[[workflows.workflow]]
name = "Dev Backend"
author = 41694058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend-python && python -m uvicorn main:app --host 0.0.0.0 --port 8001 --reload"
